# Feature Engineering-Assignment1-Bollywood data analysis and clean up

In [1]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.core.display import HTML

In [2]:
df1 = pd.read_csv("bollywood.csv")
df2 = pd.read_csv("bollywood - 2.csv")

In [3]:
df1.columns

Index(['No', 'RelDate', 'MovieName', 'ReleaseTime', 'Genre', 'Budget',
       'BoxOfficeCollection', 'YoutubeViews', 'YoutubeLikes',
       'YoutubeDislikes', 'YoutubeLikeDislikes'],
      dtype='object')

In [4]:
df2.columns

Index(['Movie_ID', 'Release_Date', 'Movie_Name', 'Release_Time', 'Genre',
       'BudgetCr', 'BoxOfficeCollectionCr', 'Youtube_Views', 'Youtube_Likes',
       'Youtube_Dislikes'],
      dtype='object')

In [5]:
# Changing column names of dataset1 to same as dataset2.

In [6]:
df1.columns=['Movie_ID', 'Release_Date', 'Movie_Name', 'Release_Time', 'Genre',
       'BudgetCr', 'BoxOfficeCollectionCr', 'Youtube_Views', 'Youtube_Likes',
       'Youtube_Dislikes','YoutubeLikeDislikes']

In [7]:
df1.head(3)

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
0,1,Apr-18-2014,2 States,3,RomanceGenre,36Cr,104,8576361,26622.0,2527.0,29149
1,2,Jan-4-2013,Table No. 21,4,Thriller,Cr10,12,1087320,1129.0,137.0,1266
2,3,Jul-18-2014,Amit Sahni Ki List,4,ComedyGenre,10Cr,4,572336,586.0,54.0,640

In [8]:
df2.head(3)

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes
0,51,04-Jul-14,Lekar Hum Deewana Dil,N,Romance,16,2.50,3998331,2307,497
1,52,22-Mar-13,Aatma,N,Thriller,8,8.78,841891,997,306
2,53,04-Apr-14,Main Tera Hero,LW,Comedy,40,55.00,4903941,12657,2139

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 11 columns):
Movie_ID                 51 non-null int64
Release_Date             51 non-null object
Movie_Name               51 non-null object
Release_Time             51 non-null int64
Genre                    51 non-null object
BudgetCr                 51 non-null object
BoxOfficeCollectionCr    51 non-null object
Youtube_Views            51 non-null int64
Youtube_Likes            50 non-null float64
Youtube_Dislikes         48 non-null float64
YoutubeLikeDislikes      51 non-null int64
dtypes: float64(2), int64(4), object(5)
memory usage: 4.5+ KB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
Movie_ID                 99 non-null int64
Release_Date             99 non-null object
Movie_Name               99 non-null object
Release_Time             99 non-null object
Genre                    99 non-null object
BudgetCr                 99 non-null int64
BoxOfficeCollectionCr    99 non-null float64
Youtube_Views            99 non-null int64
Youtube_Likes            99 non-null int64
Youtube_Dislikes         99 non-null int64
dtypes: float64(1), int64(5), object(4)
memory usage: 7.9+ KB

### Q1. Identify and rectify the eight prominent data quality issues present in the given datasets.

Eight data quality issues in the current datasets that need to be fixed:
#1. Missing column in dataset2 YoutubeLikeDislikes. 
#2. Missing values in Youtube_Likes and Youtube_Dislikes columns.
#3. Release_Date date format standardize in both files and has some invalid data which are not date.
#4. Release_Time categorical value not in same format in both files.
#5. Genre categorical value not in same format in both files. 
#6. BudgetCr :All the data is not in Numerical format. Some have Cr added to them.
#7. BoxOfficeCollectionCr: All the data is not in Numerical format. Some have Cr added to them.
#8. Duplicate entries are present.

###### 1. Missing column in dataset2 YoutubeLikeDislikes. Adding column and adding value to this column

In [11]:
df2['YoutubeLikeDislikes']=df2['Youtube_Likes']+df2['Youtube_Dislikes']

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 11 columns):
Movie_ID                 99 non-null int64
Release_Date             99 non-null object
Movie_Name               99 non-null object
Release_Time             99 non-null object
Genre                    99 non-null object
BudgetCr                 99 non-null int64
BoxOfficeCollectionCr    99 non-null float64
Youtube_Views            99 non-null int64
Youtube_Likes            99 non-null int64
Youtube_Dislikes         99 non-null int64
YoutubeLikeDislikes      99 non-null int64
dtypes: float64(1), int64(6), object(4)
memory usage: 8.6+ KB

###### 2. Missing values in Youtube_Likes and Youtube_Dislikes columns in dataset1. Deriving missing values using formula
YoutubeLikeDislikes = Youtube_Likes + Youtube_Dislikes

In [13]:
df1[df1['Youtube_Likes'].isnull()]

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
39,40,Jun-20-2014,Humshakals,2,ComedyGenre,75Cr,63.7,6280868,NaN,1.0,2

In [14]:
df1[df1['Youtube_Dislikes'].isnull()]

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
9,10,Jan-11-2013,Gangoobai,4,DramaGenre,2Cr,Cr0.01,4354,1.0,NaN,2
31,32,Feb-15-2013,Murder 3,1,Thriller,12Cr,25,2249055,1879.0,NaN,2626
46,47,Mar-15-2013,Mere Dad Ki Maruti,4,ComedyGenre,5Cr,11,569711,1226.0,NaN,1359

In [15]:
df1.Youtube_Likes.fillna(  df1['YoutubeLikeDislikes']-df1['Youtube_Dislikes'], inplace=True )
df1.Youtube_Dislikes.fillna(  df1['YoutubeLikeDislikes']-df1['Youtube_Likes'], inplace=True )

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 11 columns):
Movie_ID                 51 non-null int64
Release_Date             51 non-null object
Movie_Name               51 non-null object
Release_Time             51 non-null int64
Genre                    51 non-null object
BudgetCr                 51 non-null object
BoxOfficeCollectionCr    51 non-null object
Youtube_Views            51 non-null int64
Youtube_Likes            51 non-null float64
Youtube_Dislikes         51 non-null float64
YoutubeLikeDislikes      51 non-null int64
dtypes: float64(2), int64(4), object(5)
memory usage: 4.5+ KB

###### 3. Release_Date date format standardize in both files and has some invalid data which are not date.

In [17]:
# Creating new column Release_Date_new and deriving its value by formatting Release_Date. 
# This will be dropped after copying it back in Release_Date
# errors='coerce' will set invalid dates as NaT without throwing error
df1["Release_Date_new"] = pd.to_datetime(df1.Release_Date, format='%b-%d-%Y', errors='coerce')

In [18]:
df1[df1.Release_Date_new.isnull() ]

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes,Release_Date_new
6,7,Sqp-19-2014,Daawat-E-Ishq,4,ComedyGenre,30Cr,24.6,3905050,8315.0,1373.0,9688,NaT
12,13,Jum-27-2014,Ek Villain,2,RomanceGenre,35Cr,105.5,4518748,13558.0,1094.0,14652,NaT
17,18,juu-6-2014,Filmistaan,2,ComedyGenre,10Cr,6,989096,1608.0,173.0,1781,NaT
34,35,Feb-21-204,Highway,4,Drama,30Cr,27.25,3043012,9100.0,971.0,10071,NaT

In [19]:
#Fixing the invalid dates in dataset1

In [20]:
df1["Release_Date"].replace(to_replace ="Sqp", value = "Sep", regex = True, inplace=True)
df1["Release_Date"].replace(to_replace ="Jum", value = "Jun", regex = True, inplace=True)
df1["Release_Date"].replace(to_replace ="juu", value = "Jun", regex = True, inplace=True)
df1["Release_Date"].replace(to_replace ="204", value = "2014", regex = True, inplace=True)

In [21]:
df1[df1.Release_Date_new.isnull() ]

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes,Release_Date_new
6,7,Sep-19-2014,Daawat-E-Ishq,4,ComedyGenre,30Cr,24.6,3905050,8315.0,1373.0,9688,NaT
12,13,Jun-27-2014,Ek Villain,2,RomanceGenre,35Cr,105.5,4518748,13558.0,1094.0,14652,NaT
17,18,Jun-6-2014,Filmistaan,2,ComedyGenre,10Cr,6,989096,1608.0,173.0,1781,NaT
34,35,Feb-21-2014,Highway,4,Drama,30Cr,27.25,3043012,9100.0,971.0,10071,NaT

In [22]:
df1["Release_Date_new"] = pd.to_datetime(df1.Release_Date, format='%b-%d-%Y', errors='coerce')
df1[df1.Release_Date_new.isnull() ]

Empty DataFrame
Columns: [Movie_ID, Release_Date, Movie_Name, Release_Time, Genre, BudgetCr, BoxOfficeCollectionCr, Youtube_Views, Youtube_Likes, Youtube_Dislikes, YoutubeLikeDislikes, Release_Date_new]
Index: []

In [23]:
# No missing values in Release_Date_new, so copying it to Release_Date and dropping Release_Date_new
df1["Release_Date"]=df1["Release_Date_new"]
df1.drop(["Release_Date_new"], axis=1, inplace=True)

In [24]:
# Repeating above steps for formatting Release Date column in dataset2
df2["Release_Date_new"] = pd.to_datetime(df2.Release_Date, format='%d-%b-%y', errors='coerce')
df2[df2.Release_Date_new.isnull() ]

Empty DataFrame
Columns: [Movie_ID, Release_Date, Movie_Name, Release_Time, Genre, BudgetCr, BoxOfficeCollectionCr, Youtube_Views, Youtube_Likes, Youtube_Dislikes, YoutubeLikeDislikes, Release_Date_new]
Index: []

In [25]:
# No missing values in Release_Date_new, so copying it to Release_Date and dropping Release_Date_new
df2["Release_Date"]=df2["Release_Date_new"]
df2.drop(["Release_Date_new"], axis=1, inplace=True)

###### 4. Release_Time categorical value not in same format in both files.

In [26]:
df1['Release_Time'].value_counts()

4     33
2     10
3      4
1      3
44     1
Name: Release_Time, dtype: int64

In [27]:
df1['Release_Time'].replace(to_replace =44, value = 4, regex = True, inplace=True)
df1['Release_Time'].value_counts()

4    34
2    10
3     4
1     3
Name: Release_Time, dtype: int64

In [28]:
df2['Release_Time'].value_counts()

N     66
FS    14
LW    11
HS     8
Name: Release_Time, dtype: int64

In [29]:
#Changing the categorical format in dataset2 to the format present in dataset1

In [30]:
release_time_cleanup = {"Release_Time": {"FS": 1, "HS": 2, "LW": 3, "N": 4 }}
df2.replace(release_time_cleanup, inplace=True)

In [31]:
df2['Release_Time'].value_counts()

4    66
1    14
3    11
2     8
Name: Release_Time, dtype: int64

###### 5. Genre categorical value not in same format in both files.

In [32]:
df1["Genre"].value_counts()

ComedyGenre     12
 DramaGenre     11
RomanceGenre     9
ActionGenre      9
Thriller         5
Thriller         3
Action           1
 Drama           1
Name: Genre, dtype: int64

In [33]:
#Removing Genre and spaces from each of the Genre column in dataset1
df1["Genre"].replace(to_replace ="Genre", value = "", regex = True, inplace=True)
df1["Genre"]=df1["Genre"].str.lstrip()
df1["Genre"]=df1["Genre"].str.rstrip()
df1["Genre"].value_counts()

Drama       12
Comedy      12
Action      10
Romance      9
Thriller     8
Name: Genre, dtype: int64

In [34]:
#Removing Genre and spaces from each of the Genre column in dataset2
df2["Genre"].replace(to_replace ="Genre", value = "", regex = True, inplace=True)
df2["Genre"]=df2["Genre"].str.lstrip()
df2["Genre"]=df2["Genre"].str.rstrip()
df2["Genre"].value_counts()

Comedy      24
Drama       23
Thriller    21
Romance     17
Action      14
Name: Genre, dtype: int64

###### 6. BudgetCr :All the data is not in Numerical format. Some have Cr added to them.

In [35]:
#Removing Cr from BudgetCr and trimming spaces
df1["BudgetCr"].replace(to_replace ="Cr", value = "", regex = True, inplace=True)
df1["BudgetCr"]=df1["BudgetCr"].str.lstrip()
df1["BudgetCr"]=df1["BudgetCr"].str.rstrip()
df1["BudgetCr"].value_counts()

10     6
12     5
30     4
5      3
7      3
36     2
15     2
60     2
50     2
4      2
35     2
20     1
28     1
2      1
16     1
48     1
11     1
125    1
33     1
100    1
8      1
42     1
27     1
24     1
31     1
75     1
21     1
18     1
120    1
Name: BudgetCr, dtype: int64

In [36]:
# dataset2 has BudgetCr in proper format
df2["BudgetCr"].value_counts()

15     8
5      6
35     6
10     6
30     5
40     5
50     5
25     4
24     4
12     4
16     3
18     3
20     3
11     2
6      2
4      2
22     2
2      2
90     2
85     2
75     2
27     2
26     1
13     1
3      1
100    1
8      1
9      1
70     1
60     1
14     1
150    1
45     1
32     1
19     1
31     1
21     1
29     1
23     1
115    1
140    1
Name: BudgetCr, dtype: int64

In [37]:
print("BudgetCr in dataset1 is numeric ", pd.to_numeric(df1['BudgetCr'], errors='coerce').notnull().all())
print("BudgetCr in dataset2 is numeric ", pd.to_numeric(df2['BudgetCr'], errors='coerce').notnull().all())

BudgetCr in dataset1 is numeric  True
BudgetCr in dataset2 is numeric  True

###### 7. BoxOfficeCollectionCr: All the data is not in Numerical format. Some have Cr added to them.

In [38]:
#Removing Cr from BoxOfficeCollectionCr and trimming spaces

df1["BoxOfficeCollectionCr"].replace(to_replace ="Cr", value = "", regex = True, inplace=True)
df1["BoxOfficeCollectionCr"]=df1["BoxOfficeCollectionCr"].str.lstrip()
df1["BoxOfficeCollectionCr"]=df1["BoxOfficeCollectionCr"].str.rstrip()
df1["BoxOfficeCollectionCr"].value_counts()

383      2
6        2
32       1
32.7     1
0.5      1
1.5      1
4        1
0.01     1
16       1
69       1
76.7     1
2.5      1
105.5    1
12.6     1
62.2     1
65       1
27.25    1
103      1
12       1
22       1
5.82     1
58.9     1
2        1
111      1
0.09     1
27       1
10       1
25       1
11       1
3.65     1
104      1
163      1
40       1
14.3     1
27.16    1
36       1
1.8      1
24.6     1
39.4     1
21.5     1
162      1
10.25    1
35       1
63.7     1
44       1
129      1
10.8     1
377      1
130      1
Name: BoxOfficeCollectionCr, dtype: int64

In [39]:
# dataset2 has BoxOfficeCollectionCr in proper format

df2["BoxOfficeCollectionCr"].value_counts()

40.00     3
55.00     3
2.00      3
1.10      2
10.00     2
         ..
12.65     1
18.20     1
298.00    1
22.00     1
5.00      1
Name: BoxOfficeCollectionCr, Length: 84, dtype: int64

In [40]:
print("BoxOfficeCollectionCr in dataset1 is numeric ", pd.to_numeric(df1['BoxOfficeCollectionCr'], errors='coerce').notnull().all())
print("BoxOfficeCollectionCr in dataset2 is numeric ", pd.to_numeric(df2['BoxOfficeCollectionCr'], errors='coerce').notnull().all())

BoxOfficeCollectionCr in dataset1 is numeric  True
BoxOfficeCollectionCr in dataset2 is numeric  True

###### Almost all issues are resolved. Before checking for duplicates lets merge both datasets into one.

In [41]:
final_df = pd.concat([df1, df2])
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 98
Data columns (total 11 columns):
Movie_ID                 150 non-null int64
Release_Date             150 non-null datetime64[ns]
Movie_Name               150 non-null object
Release_Time             150 non-null int64
Genre                    150 non-null object
BudgetCr                 150 non-null object
BoxOfficeCollectionCr    150 non-null object
Youtube_Views            150 non-null int64
Youtube_Likes            150 non-null float64
Youtube_Dislikes         150 non-null float64
YoutubeLikeDislikes      150 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 14.1+ KB

In [42]:
#BudgetCr and  BoxOfficeCollectionCr are non-numeric. Converting to numeric for ROI calculation.
final_df["BudgetCr"] = pd.to_numeric(final_df["BudgetCr"], errors='coerce')
final_df["BoxOfficeCollectionCr"] = pd.to_numeric(final_df["BoxOfficeCollectionCr"], errors='coerce')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 98
Data columns (total 11 columns):
Movie_ID                 150 non-null int64
Release_Date             150 non-null datetime64[ns]
Movie_Name               150 non-null object
Release_Time             150 non-null int64
Genre                    150 non-null object
BudgetCr                 150 non-null int64
BoxOfficeCollectionCr    150 non-null float64
Youtube_Views            150 non-null int64
Youtube_Likes            150 non-null float64
Youtube_Dislikes         150 non-null float64
YoutubeLikeDislikes      150 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(2)
memory usage: 14.1+ KB

###### 8. Checking if Duplicate entries are present.

In [43]:
final_df[final_df.duplicated(['Movie_ID'],keep=False)]

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
50,51,2014-07-07,Lekar Hum Deewana Dil,4,Romance,16,2.5,3998331,2307.0,497.0,2804
0,51,2014-07-04,Lekar Hum Deewana Dil,4,Romance,16,2.5,3998331,2307.0,497.0,2804

#There is a duplicate row. The 2 rows vary on Release_date. So to decide on which one to keep, we check external source (IMDB) and found release date is correct for 0th Record.
#Keeping 0th and dropping 51st row.

In [44]:
final_df.drop_duplicates(subset ="Movie_ID", keep = 'first', inplace = True)

#All the data quality issues are resolved now. 
#The clean data is in final_df.

### Q2. How many records are present in the dataset? Print the metadata information of dataset.

In [45]:
final_df.shape

(149, 11)

Final dataset has 149 records

In [46]:
#Metadata
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 98
Data columns (total 11 columns):
Movie_ID                 149 non-null int64
Release_Date             149 non-null datetime64[ns]
Movie_Name               149 non-null object
Release_Time             149 non-null int64
Genre                    149 non-null object
BudgetCr                 149 non-null int64
BoxOfficeCollectionCr    149 non-null float64
Youtube_Views            149 non-null int64
Youtube_Likes            149 non-null float64
Youtube_Dislikes         149 non-null float64
YoutubeLikeDislikes      149 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(2)
memory usage: 14.0+ KB

In [47]:
final_df.describe()

,Movie_ID,Release_Time,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
count,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000
mean,75.000000,3.315436,29.442953,58.235369,3.337920e+06,7877.536913,1207.818792,9085.355705
std,43.156691,1.072300,28.237981,98.111494,3.504407e+06,12748.047191,1852.692938,14372.048371
min,1.000000,1.000000,2.000000,0.010000,4.354000e+03,1.000000,1.000000,2.000000
25%,38.000000,3.000000,11.000000,10.000000,1.076591e+06,1377.000000,189.000000,1637.000000
50%,75.000000,4.000000,21.000000,28.200000,2.375050e+06,4111.000000,614.000000,4913.000000
75%,112.000000,4.000000,35.000000,58.000000,4.550051e+06,9100.000000,1419.000000,10486.000000
max,149.000000,4.000000,150.000000,735.000000,2.317107e+07,101275.000000,11888.000000,111341.000000

### Q3. How many movies in each genre got released in different release times?

In [48]:
final_df.groupby('Genre')['Release_Time'].value_counts().unstack().fillna(0)

Release_Time  1  2  3   4
Genre
Action        3  3  3  15
Comedy        3  5  5  23
Drama         4  6  1  24
Romance       3  3  4  15
Thriller      4  1  2  22

### Q4. Which month of the year, maximum movie releases are seen?

In [49]:
final_df.groupby([final_df['Release_Date'].dt.strftime('%Y').rename('Year'),final_df['Release_Date'].dt.strftime('%B').rename('Month')])['Movie_ID'].count().sort_values().groupby(level=0).tail(1)

Year  Month
2015  January     5
2013  July        9
2014  May        12
Name: Movie_ID, dtype: int64

### Q5. Which month of the year typically sees most releases of high budgeted movies, that is, movies with budget of 25 crore or more?

# This is same as Q4 , but for a dataset of movies with budget>25Cr

In [50]:
df_25CrClub= final_df[final_df['BudgetCr'] >=25]
df_25CrClub

,Movie_ID,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes,YoutubeLikeDislikes
0,1,2014-04-18,2 States,3,Romance,36,104.00,8576361,26622.0,2527.0,29149
6,7,2014-09-19,Daawat-E-Ishq,4,Comedy,30,24.60,3905050,8315.0,1373.0,9688
7,8,2013-01-11,Matru Ki Bijlee Ka Mandola,4,Comedy,33,40.00,2435283,4326.0,647.0,4973
8,9,2014-01-10,Dedh Ishqiya,3,Comedy,31,27.00,2333067,2436.0,591.0,3027
10,11,2014-03-28,Dishkiyaoon,4,Action,28,6.00,2397647,3308.0,465.0,3773
...,...,...,...,...,...,...,...,...,...,...,...
89,140,2015-01-30,Hawaizaada,4,Drama,25,30.25,2368404,8619.0,539.0,9158
91,142,2015-02-06,Shamitabh,4,Drama,40,38.00,2105508,5599.0,677.0,6276
92,143,2015-02-13,Roy,1,Romance,40,58.00,7687797,18974.0,3229.0,22203
96,147,2015-03-20,Dilliwali Zaalim Girlfriend,4,Comedy,32,12.00,2316047,4289.0,807.0,5096
98,149,2014-05-23,Kochadaiiyaan,2,Action,150,120.00,4740727,13466.0,2649.0,16115

In [51]:
df_25CrClub.groupby([df_25CrClub['Release_Date'].dt.strftime('%Y').rename('Year'),df_25CrClub['Release_Date'].dt.strftime('%B').rename('Month')])['Movie_ID'].count().sort_values().groupby(level=0).tail(1)

Year  Month
2015  January    3
2014  April      4
2013  July       5
Name: Movie_ID, dtype: int64

### Q6. Which are the top 10 movies with maximum return of investment (ROI)? Calculate ROI as (Box office collection  Budget) / Budget.

In [52]:
final_df["ROI"] = final_df.apply(lambda x: (x.BoxOfficeCollectionCr - x.BudgetCr)/x.BudgetCr, axis=1 )

In [53]:
final_df.sort_values(["ROI"], ascending=False)[0:10][["Movie_Name","ROI"]]

                   Movie_Name        ROI
3            Rajdhani Express  53.714286
14                 Aashiqui 2   8.166667
39                         PK   7.647059
82                Grand Masti   7.514286
85               The Lunchbox   7.500000
37                     Fukrey   6.240000
8                    Mary Kom   5.933333
78                     Shahid   5.666667
37  Humpty Sharma Ki Dulhania   5.500000
51         Bhaag Milkha Bhaag   4.466667

In [54]:
print("COMPLETED")

COMPLETED